<html>
<head>
  <title>INFSEC Package Viewer</title>
</head>
<body>
    <h1>INFSEC Package Viewer</h1>
    <h2><span id="connected">{{ connected }}</span>
        users are on this page right now.</h2>

    <script type="text/javascript"
                src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/packages");
            socket.on('msg', function(msg) {
                $("#connected").html(msg);
            });
        });
    </script>
</body>
</html>
