<html>

<head>
  <title>Access point monitor</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script type="text/javascript" src="static/util.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
</head>

<body role="document">
  <div class="container theme-showcase" role="main">
    <div class="page-header">
      <h1>Access point monitor</h1>
      <h3>WLAN: Swisscom_AutoLogin_Free</h3>
    </div>

    <!-- <button type="button" class="btn btn-success" id="testbtn">Test-Button</button> -->

    <div class="row">
      <div class="col-md-12">
        <table class="table" id="requests">
          <thead>
           <tr>
             <th>Time</th>
             <th>Source ip address</th>
             <th>HTTP method</th>
             <th>Info</th>
             <th>URL</th>
           </tr>
          </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="page-footer">
    <p align="center">HSLU INFSEC FS2016</p>
  </div>
</body>
</html>
